* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  /* Center and scale the image nicely */
  background-attachment: fixed; 
  background-size: cover;
  background-image: url('./pexels-pixabay-327472.jpg');
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

main {
  font-family: Montserrat;
}